{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
    
<section class="caja-galeria">
    <div class="contenedor-galeria">
      <ul>
        <li>
          <div class="titulo-imagen">
            <a href="#">Con diversos lugares a lo largo de la región.</a>
          </div>
            <img src="https://i.ibb.co/GJHHHXn/uno.jpg">
        </li>
        <li>
          <div class="titulo-imagen">
            <a href="#">Deja tu auto en compañia de los mejores empleados.</a>
          </div>
          <img src="https://i.ibb.co/YBVpjFK/dos-1.jpg">
        </li>
        <li>
              <div class="titulo-imagen">
                <a href="#">Usamos productos de la mejor calidad.</a>
              </div>
          <img src="https://i.ibb.co/v4BZnkX/tres.jpg">
        </li>
        <li>
              <div class="titulo-imagen">
                <a href="#">Ven a nuestros servicentros.</a>
              </div>
          <img src="https://i.ibb.co/FsvH7Mx/cuatro.jpg">
        </li>
        <li>
            <div class="titulo-imagen">
                <a href="#">Deposita tu confianza en nosotros. </a>
              </div>
          <img src="https://i.ibb.co/7k13bhR/cinco.jpg">
        </li>
        <li>
          <div class="titulo-imagen">
            <a href="#">El mejor auto lavado. </a>
          </div>
          <img src="https://i.ibb.co/6YrfWWP/seis.jpg">
          </li>
        <li>
          <div class="titulo-imagen">
            <a href="#">Ven, y vive la experiencia.</a>
          </div>
          <img src="https://i.ibb.co/4jqQXLr/siete.jpg">
        </li>
      </ul>
    </div>
</section>

{% endblock %}