{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<div class="row">
<div class="col-sm-3"></div>

<div class="col-sm-6">
    <h4 class="page-title">Ven a conocernos...</h4>    
    <section class="mapita"> 
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13310.142144555544!2d-70.64500477500106!3d-33.4874412962757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dab2d99486ab%3A0x404bfdd6f46d6c6f!2sPoblaci%C3%B3n%20la%20Legua%20Emergencia%2C%20San%20Joaqu%C3%ADn%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1600656924233!5m2!1ses-419!2scl"
        width="800" height="600"  frameborder="10px" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0">
        </iframe>
        </section>
</div>

<div class="col-sm-3"></div>
</div>

{% endblock contenido %}