{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
    
<div class="row">
    <div class="col-sm-3"></div>
        <div class="col-sm-6">


            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form}}
                </table>
                <div class="card-action">
                    <button type="submit" class="btn btn-info">Modificar insumo</button>
                    <button type="reset" class="btn btn-danger">Limpiar</button>
                </div>
            </form>
            {{ mensaje }}
    <!-- <div class="page-inner">
            <h4 class="page-title">Ingreso de insumos...</h4>
            <div class="card card-primary">
                <div class="card">
    
                <div class="card-body">
                        <div class="form-group">
                            <label for="txtNombre">Nombre: </label>
                            <input type="text" name="txtNombre" id="txtNombre" minlength="3"
                            maxlength="80" class="form-control" required/>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion">Descripción</label>
                            <textarea class="form-control" id="Descripcion" rows="3"></textarea>
                        </div>    
                        
                        <div class="form-group">
                            <label for="Stock">Stock</label>
                            <input type="number" name="stock" id="stock" min="0" class="form-control">
                        </div>
                </div>
                <div class="card-action">
                    <button class="btn btn-success">Ingresar insumo</button>
                    <button class="btn btn-danger">Limpiar</button>
                </div>
            </div>
        </div>-->
        </div>
    
    <div class="col-sm-3"></div>
</div>
{% endblock %}