{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

        <section class="mision-seccion">
            <ul class="mision-contenido">
            <li class="mision-lista">
                <h3>Misión.</h3>
                <p class="mision">Somos un servicio seguro, eficaz y fresco para tu auto, convirtiéndose en un elemento esencial para nuestros clientes al simplificarles la vida en un instante.
                    Trabajamos con honestidad, energía y total integridad, pensando siempre en nuestros clientes y lo mejor para ellos y su automóvil. 
                    </p></li>
            <li>
            </li>
            <li class="vision-contenido">
                <h3 class="vision-titulo">Visión.</h3>
                <p class="vision">Queremos ser un servicio que simplifique la vida de los clientes al dejar su auto en uno de nuestros estacionamientos, y que ayude a la empresa a su propia organización. Gracias a eso llegando a mejorar cada día nuestros servicios y propósitos. </p></li>
            </li>
            </ul>
        </section>


{% endblock contenido %}




